.video-section {
  @include media('>=tablet') {
    padding: 70px 0;
  }
  
  .container {
    max-width: 820px;
  }

  &__video-inner {
    position: relative;
  }

  &__img-triangle {
    display: none;

    @include media('>=tablet') {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-30%, -50%);
    }
    
    @include media('>=desktop') {
      transform: translate(-58%, -50%);
    }
  }

  &__img-left {
    display: none;

    @include media('>=tablet') {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translate(-58%, -15%);
    }
    
    @include media('>=desktop') {
      transform: translate(-95%, -15%);
    }
  }

  &__img-cross-bg {
    display: none;

    @include media('>=tablet') {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      transform: translate(30%, 30%);
    }
    
    @include media('>=desktop') {
      transform: translate(63%, 70%);
    }
  }

  &__img-vector {
    display: none;

    @include media('>=tablet') {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(52%, -17%);
    }
    
    @include media('>=desktop') {
      transform: translate(70%, -17%);
    }
  }
}

.video {
  position: relative;
  
  &:hover {
    .youtube-item__img {
      color: $orange;
    }
  }
  
  &__video-holder {
    padding-top: 56%;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    z-index: 3;
    
    @include media('>=tablet') {
      border-radius: 20px;
    }
  }

  &__img-holder {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 5;
    background: $white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
  }

  &__img {
    font-size: 42px;
    color: $gradient2;
  }
}

.video-active {
  .bg-video {
    opacity: 1;
  }
}


