<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="body">
  <noscript>
    <div>Javascript must be enabled for the correct page display</div>
  </noscript>
  <a class="accessibility" href="#main">Skip to Content</a>
  <div class="wrapper" id="wrapper">
    <div class="wrapper-inner">
      <header class="header" id="header">
        <div class="container">
          <div class="header__header-inner">
            <strong class="logo"><a class="logo__link" href="#"><img src="images/logo.png" alt="image description" /></a></strong>
            <div class="header-drop">
              <div class="header-drop__drop-inner">
                <nav>
                  <ul class="menu">
                    <li class="menu__item">
                      <a href="#" class="menu__link"><span class="icon-pause"></span>Все курсы</a>
                      <a class="link-opener" href="#"><span></span></a>
                      <div class="menu__drop">
                        <ul class="second-level">
                          <li class="second-level__item"><a class="second-level__link" href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="menu__item">
                      <a href="" class="menu__link">Мероприятия</a>
                      <div class="menu__drop">
                        <ul class="second-level">
                          <li class="second-level__item"><a class="second-level__link" href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="menu__item">
                      <a href="" class="menu__link">Базы знаний</a>
                      <div class="menu__drop">
                        <ul class="second-level">
                          <li class="second-level__item"><a class="second-level__link" href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="menu__item">
                      <a href="" class="menu__link">Карьера</a>
                      <div class="menu__drop">
                        <ul class="second-level">
                          <li class="second-level__item"><a class="second-level__link" href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                          <li class="second-level__item"><a href="">link</a></li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </nav>
              </div>
              <ul class="right-bar">
                <li class="right-bar__item">
                  <span class="icon-point2"></span>
                  <select name="city" class="right-bar__select">
                    <option value="1">Ивано-Франковск</option>
                    <option value="2">Харьков</option>
                    <option value="3">Харьков</option>
                    <option value="4">Харьков</option>
                    <option value="5">Харьков</option>
                    <option value="6">Харьков</option>
                    <option value="7">Харьков</option>
                    <option value="8">Харьков</option>
                    <option value="9">Харьков</option>
                    <option value="10">Киев</option>
                    <option value="11">Киев</option>
                    <option value="12">Киев</option>
                    <option value="13">Киев</option>
                    <option value="14">Киев</option>
                    <option value="15">Киев</option>
                    <option value="16">Киев</option>
                    <option value="17">Киев</option>
                    <option value="18">Львов</option>
                    <option value="19">Львов</option>
                    <option value="20">Львов</option>
                    <option value="21">Львов</option>
                    <option value="22">Львов</option>
                    <option value="23">Львов</option>
                    <option value="24">Львов</option>
                    <option value="25">Львов</option>
                  </select>
                </li>
                <li class="right-bar__item"><a class="right-bar__link" href="tel:08009503398">0 800 950-33-98</a></li>
                <li class="right-bar__item"><a href="#"><span class="icon-man"></span>Войти</a></li>
                <li class="right-bar__item_email"><a class="right-bar__link" href="mailto:info@hodfutureacademy.ua">info@hodfutureacademy.ua</a></li>
              </ul>
              <ul class="social">
                <li class="social__social-icon">
                  <a href="#" class="social__link"><span class="icon-instagram"></span></a>
                </li>
                <li class="social__social-icon">
                  <a href="#" class="social__link"><span class="icon-facebook"></span></a>
                </li>
                <li class="social__social-icon">
                  <a href="#" class="social__link"><span class="icon-youtube"></span></a>
                </li>
                <li class="social__social-icon">
                  <a href="#" class="social__link"><span class="icon-telegram"></span></a>
                </li>
              </ul>
            </div>
            <a class="nav-opener" href="#"><span>Menu</span></a>
          </div>
        </div>
      </header>
      <main class="main">
        <div class="contacts-section">
          <div class="container">
            <div class="contacts-section__holder">
              <div class="contacts-section__info">
                <div class="contacts-section__section-heading">
                  <div class="contacts-section__transition">
                    <a href="#">Главная</a>
                    <span class="icon-right"></span>
                    <a href="#">Контакты</a>
                  </div>
                  <h1>Контакты</h1>
                  <div class="contacts-inform">
                    <ul class="contacts-inform__list">
                      <li class="contacts-inform__contacts"><span class="icon-phone"></span><a class="contacts-inform__link contacts-inform__link--tel" href="tel:08009876543">0 800 987-65-43</a></li>
                      <li><span class="icon-mail"></span><a class="contacts-inform__link" href="mailto:&#105;&#110;&#102;&#111;&#064;&#104;&#111;&#100;&#102;&#117;&#116;&#117;&#114;&#101;&#097;&#099;&#097;&#100;&#101;&#109;&#121;&#046;&#117;&#097;">&#105;&#110;&#102;&#111;&#064;&#104;&#111;&#100;&#102;&#117;&#116;&#117;&#114;&#101;&#097;&#099;&#097;&#100;&#101;&#109;&#121;&#046;&#117;&#097;</a></li>
                      <li class="contacts-inform__contacts"><span class="icon-point2"></span><a class="contacts-inform__link" href="#">г. Харьков, ул. Свободы, д. 50</a></li>
                    </ul>
                    <div class="contacts-inform__social-holder">
                      <ul class="social social--footer">
                        <li class="social__social-icon">
                          <a href="#" class="social__link"><span class="icon-instagram"></span></a>
                        </li>
                        <li class="social__social-icon">
                          <a href="#" class="social__link"><span class="icon-facebook"></span></a>
                        </li>
                        <li class="social__social-icon">
                          <a href="#" class="social__link"><span class="icon-youtube"></span></a>
                        </li>
                        <li class="social__social-icon">
                          <a href="#" class="social__link"><span class="icon-telegram"></span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="contacts-section__maps">
                <div class="map" id="map">
                  <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2564.533617703025!2d36.242059291856705!3d50.00135278542709!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a0e81d05533d%3A0xdf6ea85c513cb7d9!2z0YPQuy4g0KHQstC-0LHQvtC00YssIDUwLCDQpdCw0YDRjNC60L7Qsiwg0KXQsNGA0YzQutC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjEwMDA!5e0!3m2!1sru!2sua!4v1661511421271!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="helper-section">
          <div class="container">
            <div class="helper-section__holder">
              <div class="assistant">
                <div class="assistant__column">
                  <div class="assistant__speech-bubble" data-aos="zoom-in-right" data-aos-offset="500" data-aos-duration="1000" data-aos-easing="ease-in-sine">
                    <span class="assistant__title">Помочь с выбором?</span>
                    <p>Оставьте заявку и наши специалисты свяжутся с вами, ответят на все вопросы и подберут подходящий вариант обучения.</p>
                  </div>
                </div>
                <div class="assistant__column">
                  <div class="assistant-form" data-aos="zoom-in" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
                    <form action="#">
                      <div class="assistant-form__name">
                        <input type="text" name="username" placeholder="Ваше имя">
                      </div>
                      <div class="assistant-form__form-inner">
                        <div class="assistant-form__form-group">
                          <input type="tel" name="userphone" placeholder="Ваш телефон">
                        </div>
                        <div class="assistant-form__form-group">
                          <input type="email" name="useremail" placeholder="Ваш e-mail">
                        </div>
                        <div class="assistant-form__form-group">
                          <div class="assistant-form__form-text">
                            <p>Нажимая на кнопку, я соглашаюсь
                              на обработку персональных данных
                              и с правилами пользования Платформой</p>
                          </div>
                        </div>
                        <div class="assistant-form__form-group">
                          <button type="submit" class="btn btn--fill">Отправить</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="assistant__decor" data-aos="fade-down-right">
                  <img src="images/owl-2.png" alt="image description">
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="container">
          <div class="footer__holder">
            <div class="footer__academy-contacts">
              <div class="contacts-inform">
                <strong class="logo contacts-inform__log"><a class="logo__link" href="#"><img src="images/logo1.png" alt="image description" /></a></strong>
                <ul class="contacts-inform__list">
                  <li class="contacts-inform__contacts"><a class="contacts-inform__link contacts-inform__link--tel" href="tel:08009876543">0 800 987-65-43</a></li>
                  <li class="contacts-inform__contacts"><a class="contacts-inform__link" href="#">г. Харьков, ул. Свободы, д. 50</a></li>
                  <li><a class="contacts-inform__link" href="mailto:&#105;&#110;&#102;&#111;&#064;&#104;&#111;&#100;&#102;&#117;&#116;&#117;&#114;&#101;&#097;&#099;&#097;&#100;&#101;&#109;&#121;&#046;&#117;&#097;">&#105;&#110;&#102;&#111;&#064;&#104;&#111;&#100;&#102;&#117;&#116;&#117;&#114;&#101;&#097;&#099;&#097;&#100;&#101;&#109;&#121;&#046;&#117;&#097;</a></li>
                </ul>
                <div class="contacts-inform__social-holder">
                  <ul class="social social--footer">
                    <li class="social__social-icon">
                      <a href="#" class="social__link"><span class="icon-instagram"></span></a>
                    </li>
                    <li class="social__social-icon">
                      <a href="#" class="social__link"><span class="icon-facebook"></span></a>
                    </li>
                    <li class="social__social-icon">
                      <a href="#" class="social__link"><span class="icon-youtube"></span></a>
                    </li>
                    <li class="social__social-icon">
                      <a href="#" class="social__link"><span class="icon-telegram"></span></a>
                    </li>
                  </ul>
                  <div class="contacts-inform__copyright">
                    <p>&copy; ХОД, <a class="contacts-inform__link contacts-inform__link--sm" href="#">Future Academy</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer__inform">
              <div class="footer__columns">
                <div class="footer__column">
                  <div class="academy-inform">
                    <strong class="academy-inform__head">Детям</strong>
                    <ul class="academy-inform__list">
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Робототехника</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Создание игр</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Программирование</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Мультимедиа</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Soft skills</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Шахматы</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Блогинг</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Создание игр</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Программирование</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Мультимедиа</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Soft skills</a></li>
                    </ul>
                  </div>
                </div>
                <div class="footer__column">
                  <div class="academy-inform">
                    <strong class="academy-inform__head">Подросткам</strong>
                    <ul class="academy-inform__list">
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Web-разработка</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Прикладное программирование</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Графическое моделирование</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Game Development</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Soft skills</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Разработчик мобильных приложений</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Блогинг</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Создание игр</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Программирование</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Мультимедиа</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Soft skills</a></li>
                    </ul>
                  </div>
                </div>
                <div class="footer__column">
                  <div class="academy-inform">
                    <strong class="academy-inform__head">Взрослым</strong>
                    <ul class="academy-inform__list">
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Разработчик игр на Unity</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Разработка ПО</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">
                          Графический Дизайн</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Тестировщик ПО</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Интернет Маркетинг</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Java-разработчик</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Python–разработчик</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">IOS-разработчик</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Программирование</a></li>
                    </ul>
                  </div>
                </div>
                <div class="footer__column">
                  <div class="academy-inform">
                    <strong class="academy-inform__head">Информация</strong>
                    <ul class="academy-inform__list">
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Об академии</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Мероприятия</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Новости</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">База знаний</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Карьера</a></li>
                      <li class="academy-inform__list-element"><a class="academy-inform__link" href="#">Контакты</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <a class="accessibility" href="#wrapper">Back to top</a>
</body>

</html>
